<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">

<!-- 数据池 -->
<bean id="jdbc" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
<property name="locations" value="classpath:jdbc.properties"></property>
</bean>
	<bean id="dataSource"
	destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean> 
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 加载sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop><!-- 是否展示SQL -->
                <prop key="hibernate.hbm2ddl.auto">update</prop><!-- 是否自动创建表结构 -->
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.connection.autocommit">true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/gxuwz/schools/entity/Admin.hbm.xml</value>
				<value>
					com/gxuwz/schools/entity/AttendanceList.hbm.xml
				</value>
				<value>
					com/gxuwz/schools/entity/AttendanceSheet.hbm.xml
				</value>
				<value>
					com/gxuwz/schools/entity/ChoseCourse.hbm.xml
				</value>
				<value>com/gxuwz/schools/entity/Student.hbm.xml</value>
				<value>com/gxuwz/schools/entity/Teacher.hbm.xml</value>
				<value>com/gxuwz/schools/entity/Classes.hbm.xml</value>
				<value>
					com/gxuwz/schools/entity/Department.hbm.xml
				</value></list>
		</property></bean>
		<!-- 配置DAO组件 -->
	<bean id="baseDAO" class="com.gxuwz.schools.dao.BaseDao" abstract="true">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	 
	<bean id="adminDAO" class="com.gxuwz.schools.dao.AdminDaoImp" parent="baseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="courseDao" class="com.gxuwz.schools.dao.CourseDaoImp" parent="baseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
		<bean id="checkDao" class="com.gxuwz.schools.dao.CheckDaoimp" parent="baseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean> 
			<bean id="depDao" class="com.gxuwz.schools.dao.DepDaoimp" parent="baseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean> 
	
		<bean id="classesDao" class="com.gxuwz.schools.dao.ClassesDaoimp" parent="baseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean> 
	 <!-- 配置Service -->
		<bean id="adminService" class="com.gxuwz.schools.service.AdminServiceImp">		
		<property name="adminDAO">
			<ref bean="adminDAO"/>
		</property>
	</bean>
	<bean id="courseService" class="com.gxuwz.schools.service.CourseServiceImp">		
		<property name="courseDao">
			<ref bean="courseDao"/>
		</property>
	</bean>
		<bean id="checkService" class="com.gxuwz.schools.service.CheckServiceimp">		
		<property name="checkDao">
			<ref bean="checkDao"/>
		</property>
	</bean>  
	
	<bean id="depService" class="com.gxuwz.schools.service.DepServiceimp">		
		<property name="depDao">
			<ref bean="depDao"/>
		</property>
	</bean> 
		<bean id="classesService" class="com.gxuwz.schools.service.ClassesServiceimp">		
		<property name="classesDao">
			<ref bean="classesDao"/>
		</property>
	</bean> 
	 <!-- 配置Action -->
    <bean id="adminAction" class="com.gxuwz.schools.action.AdminAction">
        <property name="adminService" ref="adminService"/>
    </bean>
    
    <bean id="courseAction" class="com.gxuwz.schools.action.CourseAction">
        <property name="courseService" ref="courseService"/>
    </bean>
        <bean id="checkAction" class="com.gxuwz.schools.action.CheckAction">
        <property name="checkService" ref="checkService"/>
    </bean> 
    
        <bean id="depAction" class="com.gxuwz.schools.action.DepAction">
        <property name="depService" ref="depService"/>
    </bean>
            <bean id="classesAction" class="com.gxuwz.schools.action.ClassesAction">
        <property name="classesService" ref="classesService"/>
    </bean>
                <bean id="xmlAction" class="com.gxuwz.schools.action.XmlAction">
        <property name="checkDao" ref="checkDao"/>
    </bean>
	<!-- 事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" /></beans>